<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Upload file</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a class="active" href="/upload">Upload file</a></li>
    </ul>
    <div class="upload-file-container">
      <form
        action="/upload-profile-pic"
        enctype="multipart/form-data"
        method="POST"
      >
        <label>Avatar: </label>
        <input type="file" name="profile_pic" />
        <div>
          <button type="submit">Save file</button>
        </div>
      </form>

      <form
        method="POST"
        action="/upload-multiple-images"
        enctype="multipart/form-data"
      >
        <div>
          <label>Select multiple images:</label>
          <input type="file" name="multiple_images" multiple />
        </div>
        <div>
          <input type="submit" name="multiple_images" value="Upload" />
        </div>
      </form>
    </div>
  </body>
</html>
